<div class="center jumbotron">
  <h1>Welcome to Alpha Blog</h1><br/>
  <% if logged_in? %>
  	<%= link_to "Create Article", new_article_path, class: "btn btn-lg btn-xlarge" %>
  <% else %>
  	<%= link_to "Sign Up Now", signup_path, class: "btn btn-lg btn-xlarge" %>
  <% end %>
</div>